<h2>Bank Transaction Form</h2>
<form [formGroup]="form" (ngSubmit)="submit()" novalidate>
  <div class="form-grid">
    <!-- Block 1: Client Details -->
    <fieldset class="block" formGroupName="client">
      <legend>Client Details</legend>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
        <mat-error
          *ngIf="
            form.get('client.firstName')?.hasError('required') &&
            form.get('client.firstName')?.touched
          "
        >
          First name is required
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('client.firstName')?.hasError('required') &&
            form.get('client.firstName')?.hasError('minlength') &&
            form.get('client.firstName')?.touched
          "
        >
          First name must be at least 2 characters
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('client.firstName')?.hasError('required') &&
            !form.get('client.firstName')?.hasError('minlength') &&
            form.get('client.firstName')?.hasError('lettersInvalid') &&
            form.get('client.firstName')?.touched
          "
        >
          First name must not contain numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
        <mat-error
          *ngIf="
            form.get('client.lastName')?.hasError('required') &&
            form.get('client.lastName')?.touched
          "
        >
          Last name is required
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('client.lastName')?.hasError('required') &&
            form.get('client.lastName')?.hasError('minlength') &&
            form.get('client.lastName')?.touched
          "
        >
          Last name must be at least 2 characters
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('client.lastName')?.hasError('required') &&
            !form.get('client.lastName')?.hasError('minlength') &&
            form.get('client.lastName')?.hasError('lettersInvalid') &&
            form.get('client.lastName')?.touched
          "
        >
          Last name must not contain numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Middle Name</mat-label>
        <input matInput formControlName="middleName" />
        <mat-error
          *ngIf="
            form.get('client.middleName')?.hasError('minlength') &&
            form.get('client.middleName')?.touched
          "
        >
          Middle name must be at least 2 characters
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('client.middleName')?.hasError('minlength') &&
            form.get('client.middleName')?.hasError('lettersInvalid') &&
            form.get('client.middleName')?.touched
          "
        >
          Middle name must not contain numbers
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('client.gender')?.hasError('required') &&
            form.get('client.gender')?.touched
          "
        >
          Gender is required
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Birth Date</mat-label>
        <input matInput type="date" formControlName="birthDate" />
        <mat-error
          *ngIf="
          form.get('client.birthDate')?.errors?.['required'] &&
          form.get('client.birthDate')?.touched
        "
        >
          Birth date is required
        </mat-error>
        <mat-error
          *ngIf="
          !form.get('client.birthDate')?.errors?.['required'] &&
          form.get('client.birthDate')?.errors?.['ageInvalid'] &&
          form.get('client.birthDate')?.touched
        "
        >
          You must be at least 18 years old
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" />
        <mat-error
          *ngIf="
          form.get('client.email')?.errors?.['required'] &&
          form.get('client.email')?.touched
        "
        >
          Email is required
        </mat-error>
        <mat-error
          *ngIf="
          form.get('client.email')?.errors?.['email'] &&
          form.get('client.email')?.touched
        "
        >
          Invalid email format
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Phone</mat-label>
        <input
          matInput
          formControlName="phone"
          placeholder="+7 (XXX) XXX-XX-XX"
          maxlength="18"
          (input)="onPhoneInput($event)"
        />
        <mat-error
          *ngIf="
            form.get('client.phone')?.invalid &&
            form.get('client.phone')?.touched
          "
        >
          Phone is required and must match +7 (XXX) XXX-XX-XX
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Passport</mat-label>
        <input
          matInput
          formControlName="passport"
          placeholder="Passport (XXXX XXXXXX)"
          maxlength="11"
          (input)="onPassportInput($event)"
        />
        <mat-error
          *ngIf="
            form.get('client.passport')?.invalid &&
            form.get('client.passport')?.touched
          "
        >
          Passport is required and must match format XXXX XXXXXX
        </mat-error>
      </mat-form-field>
    </fieldset>

    <!-- Block 2: Address -->
    <fieldset class="block" formGroupName="address">
      <legend>Registration Address</legend>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Country</mat-label>
        <mat-select formControlName="country" required>
          <mat-option *ngFor="let c of countries" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('address.country')?.hasError('required')">
          Country is required
        </mat-error>
      </mat-form-field>

      <!-- Region (обычный input) -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Region</mat-label>
        <input matInput formControlName="region" />
        <mat-error
          *ngIf="form.get('address.region')?.errors?.['required'] && form.get('address.region')?.touched"
        >
          Region is required
        </mat-error>
        <mat-error
          *ngIf="form.get('address.region')?.errors?.['minlength'] && form.get('address.region')?.touched"
        >
          Region must be at least 3 characters
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>City</mat-label>
        <input matInput formControlName="city" />
        <mat-error
          *ngIf="
            form.get('address.city')?.errors?.['required'] &&
            form.get('address.city')?.touched
          "
        >
          City is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('address.city')?.errors?.['minlength'] &&
            form.get('address.city')?.touched
          "
        >
          City must be at least 3 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Street</mat-label>
        <input matInput formControlName="street" />
        <mat-error
          *ngIf="
            form.get('address.street')?.errors?.['required'] &&
            form.get('address.street')?.touched
          "
        >
          Street is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('address.street')?.errors?.['minlength'] &&
            form.get('address.street')?.touched
          "
        >
          Street must be at least 3 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>House</mat-label>
        <input matInput formControlName="house" />
        <mat-error
          *ngIf="
            form.get('address.house')?.errors?.['required'] &&
            form.get('address.house')?.touched
          "
        >
          House is required
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Apartment</mat-label>
        <input
          matInput
          formControlName="apartment"
          (keypress)="allowOnlyNumbers($event)"
        />
        <mat-error
          *ngIf="
            form.get('address.apartment')?.invalid &&
            form.get('address.apartment')?.touched
          "
        >
          Apartment must be numeric
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          formControlName="postalCode"
          (keypress)="allowOnlyNumbers($event)"
        />
        <mat-error
          *ngIf="
            form.get('address.postalCode')?.errors?.['required'] &&
            form.get('address.postalCode')?.touched
          "
        >
          Postal code is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('address.postalCode')?.errors?.['notNumeric'] &&
            form.get('address.postalCode')?.touched
          "
        >
          Postal code must contain only digits
        </mat-error>
        <mat-error
          *ngIf="
            form.get('address.postalCode')?.errors?.['digitsLengthInvalid'] &&
            form.get('address.postalCode')?.touched
          "
        >
          Postal code must be exactly 6 digits
        </mat-error>
      </mat-form-field>
    </fieldset>

    <!-- Block 3: Bank Details -->
    <fieldset class="block" formGroupName="bankDetails">
      <legend>Bank Details</legend>
      <!-- Account Number -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Account Number</mat-label>
        <input
          matInput
          formControlName="accountNumber"
          (keypress)="allowOnlyNumbers($event)"
        />
        <mat-error
          *ngIf="
            form.get('bankDetails.accountNumber')?.errors?.['required'] &&
            form.get('bankDetails.accountNumber')?.touched
          "
        >
          Account number is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('bankDetails.accountNumber')?.errors?.['pattern'] &&
            !form.get('bankDetails.accountNumber')?.errors?.['required'] &&
            form.get('bankDetails.accountNumber')?.touched
          "
        >
          Account number must be exactly 20 digits
        </mat-error>
        <mat-error
          *ngIf="
            form
              .get('bankDetails.accountNumber')
              ?.hasError('digitsLengthInvalid') &&
            form.get('bankDetails.accountNumber')?.touched
          "
        >
          Must be exactly
          {{ form.get('bankDetails.accountNumber')?.errors?.['digitsLengthInvalid']?.requiredLength }}
          digits
        </mat-error>
      </mat-form-field>

      <!-- BIC -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>BIC</mat-label>
        <input
          matInput
          formControlName="bic"
          (keypress)="allowOnlyNumbers($event)"
        />
        <mat-error
          *ngIf="
            form.get('bankDetails.bic')?.errors?.['required'] &&
            form.get('bankDetails.bic')?.touched
          "
        >
          BIC is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('bankDetails.bic')?.errors?.['pattern'] &&
            !form.get('bankDetails.bic')?.errors?.['required'] &&
            form.get('bankDetails.bic')?.touched
          "
        >
          BIC must be exactly 9 digits
        </mat-error>
        <mat-error
          *ngIf="
            form.get('bankDetails.bic')?.hasError('digitsLengthInvalid') &&
            form.get('bankDetails.bic')?.touched
          "
        >
          Must be exactly
          {{ form.get('bankDetails.bic')?.errors?.['digitsLengthInvalid']?.requiredLength }}
          digits
        </mat-error>
      </mat-form-field>

      <!-- Bank Name -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Bank Name</mat-label>
        <input matInput formControlName="bankName" />
        <mat-error
          *ngIf="
            form.get('bankDetails.bankName')?.errors?.['required'] &&
            form.get('bankDetails.bankName')?.touched
          "
        >
          Bank name is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('bankDetails.bankName')?.errors?.['minlength'] &&
            form.get('bankDetails.bankName')?.touched
          "
        >
          Bank name must be at least 3 characters
        </mat-error>
      </mat-form-field>

      <!-- Correspondent Account -->
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Correspondent Account</mat-label>
        <input
          matInput
          formControlName="correspondentAccount"
          (keypress)="allowOnlyNumbers($event)"
        />
        <mat-error
          *ngIf="
            form.get('bankDetails.correspondentAccount')?.errors?.['required'] &&
            form.get('bankDetails.correspondentAccount')?.touched
          "
        >
          Correspondent account is required
        </mat-error>
        <mat-error
          *ngIf="
            form.get('bankDetails.correspondentAccount')?.errors?.['pattern'] &&
            !form.get('bankDetails.correspondentAccount')?.errors?.['required'] &&
            form.get('bankDetails.correspondentAccount')?.touched
          "
        >
          Correspondent account must be exactly 20 digits
        </mat-error>
        <mat-error
          *ngIf="
            form
              .get('bankDetails.correspondentAccount')
              ?.hasError('digitsLengthInvalid') &&
            form.get('bankDetails.correspondentAccount')?.touched
          "
        >
          Must be exactly
          {{ form.get('bankDetails.correspondentAccount')?.errors?.['digitsLengthInvalid']?.requiredLength }}
          digits
        </mat-error>
      </mat-form-field>
    </fieldset>

    <!-- Block 4: Transaction Information -->
    <fieldset class="block" formGroupName="transaction">
      <legend>Transaction Information</legend>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Transaction Type</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let t of transactionTypes" [value]="t">
            {{ t }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('transaction.type')?.hasError('required') &&
            form.get('transaction.type')?.touched
          "
        >
          Transaction type is required
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Amount</mat-label>
        <input
          matInput
          type="number"
          formControlName="amount"
          min="0"
          step="1"
          (keydown)="noMinus($event)"
        />
        <mat-error
          *ngIf="
            form.get('transaction.amount')?.errors?.['required'] &&
            form.get('transaction.amount')?.touched
          "
        >
          Amount is required
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('transaction.amount')?.errors?.['required'] &&
            form.get('transaction.amount')?.errors?.['min'] &&
            form.get('transaction.amount')?.touched
          "
        >
          Amount must be greater than 0
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency">
          <mat-option *ngFor="let c of currenciesList" [value]="c">
            {{ c }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="
            form.get('transaction.currency')?.hasError('required') &&
            form.get('transaction.currency')?.touched
          "
        >
          Currency is required
        </mat-error>
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="form-field full-width"
      >
        <mat-label>Comment (optional)</mat-label>
        <textarea
          matInput
          formControlName="comment"
          (input)="autoResize($event)"
          maxlength="200"
        ></textarea>
        <!-- показываем счётчик символов -->
        <mat-hint align="end" style="color: gray">
          {{ form.get("transaction.comment")?.value?.length || 0 }} / 200
        </mat-hint>
        <!-- сообщение при попытке превысить лимит -->
        <mat-hint
          *ngIf="(form.get('transaction.comment')?.value?.length || 0) >= 200"
          style="color: red"
        >
          Maximum 200 characters reached
        </mat-hint>
        <mat-error
          *ngIf="
            form.get('transaction.comment')?.invalid &&
            form.get('transaction.comment')?.touched
          "
        >
          Comment must be at most 200 characters
        </mat-error>
      </mat-form-field>
    </fieldset>

    <!-- Block 5: Additional Documents -->
    <fieldset class="block form-docs">
      <legend>Additional Documents</legend>
      <div formArrayName="documents">
        <div
          *ngFor="let doc of documents.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field
            appearance="outline"
            floatLabel="auto"
            class="form-field full-width"
          >
            <mat-label>Document Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value="Passport">Passport</mat-option>
              <mat-option value="SNILS">SNILS</mat-option>
              <mat-option value="INN">INN</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            floatLabel="auto"
            class="form-field full-width"
          >
            <mat-label>Document Number</mat-label>
            <input
              matInput
              formControlName="number"
              (keypress)="allowOnlyNumbers($event)"
            />
            <mat-error
              *ngIf="
                form.get('documents.' + i + '.number')?.invalid &&
                form.get('documents.' + i + '.number')?.touched
              "
            >
              Document number is required
            </mat-error>
          </mat-form-field>
          <mat-form-field
            appearance="outline"
            floatLabel="auto"
            class="form-field full-width"
          >
            <mat-label>Issue Date</mat-label>
            <input matInput type="date" formControlName="issueDate" />
            <mat-error
              *ngIf="
                form.get('documents.' + i + '.issueDate')?.invalid &&
                form.get('documents.' + i + '.issueDate')?.touched
              "
            >
              Issue date is required
            </mat-error>
          </mat-form-field>
          <!-- Group Choose File & Delete Document -->
          <div class="doc-actions full-width">
            <input
              type="file"
              id="fileInput{{ i }}"
              hidden
              (change)="onFileChange($event, i)"
            />
            <label
              *ngIf="!documents.at(i).get('file')?.value"
              for="fileInput{{ i }}"
              class="upload-btn"
            >
              Choose File
            </label>
            <button
              mat-stroked-button
              color="warn"
              class="block-delete-btn"
              type="button"
              (click)="removeDocument(i)"
            >
              <mat-icon>delete</mat-icon> Delete Document
            </button>
            <ng-container *ngIf="documents.at(i).get('file')?.value as file">
              <span class="file-name-inline">{{ file.name }}</span>
              <button
                mat-icon-button
                color="warn"
                class="remove-file-inline-btn"
                type="button"
                (click)="documents.at(i).get('file')!.setValue(null)"
              >
                <mat-icon>close</mat-icon>
              </button>
            </ng-container>
          </div>
        </div>
      </div>
      <button
        mat-flat-button
        color="primary"
        type="button"
        (click)="addDocument()"
      >
        <mat-icon>add</mat-icon> Add Document
      </button>
    </fieldset>
  </div>

  <div class="form-actions">
    <button mat-stroked-button color="warn" type="button" (click)="reset()">
      <mat-icon>clear</mat-icon> Reset
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit <mat-icon>send</mat-icon>
    </button>
  </div>
</form>
